
/* Icons */

.milestone_rank_0 {
  width: 50px;
  height: 50px;
  background: url("~@/assets/sprite_star.png") 0 0;
  
}

.milestone_rank_1 {
  width: 50px;
  height: 50px;
  background: url("~@/assets/sprite_star.png") 0 -52px;
  
}

.milestone_rank_2 {
  width: 50px;
  height: 50px;
  background: url("~@/assets/sprite_star.png") 0 -104px;
  
}

.milestone_rank_3 {
  width: 50px;
  height: 50px;
  background: url("~@/assets/sprite_star.png") 0 -156px;
  
}

.milestone_rank_4 {
  width: 50px;
  height: 50px;
  background: url("~@/assets/sprite_star.png") 0 -208px;
  
}

.milestone_rank_5 {
  width: 50px;
  height: 50px;
  background: url("~@/assets/sprite_star.png") 0 -260px;
  
}
.milestone_rank_6 {
  width: 50px;
  height: 50px;
  background: url("~@/assets/sprite_star.png") 0 -312px;

  
}

.milestone_rank_7 {
  width: 50px;
  height: 50px;
  background: url("~@/assets/sprite_star.png") 0 -364px;
  
}
.milestone_rank_8 {
  width: 50px;
  height: 50px;
  background: url("~@/assets/sprite_star.png") 0 -416px;
  
}

.milestone_rank_9 {
  width: 50px;
  height: 50px;
  background: url("~@/assets/sprite_star.png") 0 -468px;
  
}

.milestone_rank_10 {
  width: 50px;
  height: 50px;
  background: url("~@/assets/sprite_star.png") 0 -518px;
  
}

.milestone_rank_11 {
  width: 50px;
  height: 50px;
  background: url("~@/assets/sprite_star.png") 0 -570px;
  
}

.milestone_rank_12 {
  width: 50px;
  height: 50px;
  background: url("~@/assets/sprite_star.png") 0 -622px;
  
}

.milestone_rank_13 {
  width: 50px;
  height: 50px;
  background: url("~@/assets/sprite_star.png") 0 -674px;
  
}

.milestone_rank_14 {
  width: 50px;
  height: 50px;
  background: url("~@/assets/sprite_star.png") 0 -726px;
  
}

.milestone_rank_15 {
  width: 50px;
  height: 50px;
  background: url("~@/assets/sprite_star.png") 0 -776px;
  
}

.milestone_rank_16 {
  width: 50px;
  height: 50px;
  background: url("~@/assets/sprite_star.png") 0px -820px;
  
}

